/* 全局样式重置 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: PingFang-SC, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: 100vh;
}
